<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/awesome/css/all.css"> <!--load all styles -->
    <script src="/javascripts/uikit.min.js"></script>
    <script src="/javascripts/uikit-icons.min.js"></script>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="uk-container">
      <nav class="uk-background-secondary uk-light uk-margin-bottom" uk-navbar>
        <div class="uk-navbar-left" style="margin-left: 24px;">
          <i class="fas fa-cogs" style="font-size: 50px; color: white;"></i>
        </div>
        <div class="uk-navbar-right">
          <a class="uk-navbar-item uk-logo" href="#">можно ехать</a>
        </div>
      </nav>
      {{{body}}}
    </div>
  </body>
</html>