/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap'); */

body {
  font-family: 'Proxima Nova Regular', sans-serif !important;
}

.order-details li {
  /* font-weight: bold; */
  white-space: nowrap;
}

.uk-logo {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 48px;
  font-weight: bold;
}